@import '../../assets/sass/variables';

.about-project-section {
    padding: 170px 168px 250px;
    background-color: #8459ff;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .outer-div  {
        position: relative;
        z-index: 9;
        
        .content {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            text-align: left;

            .what-title {
                color: #fff;
                font-size: 8rem;
                font-weight: 800;
                line-height: 1;
                text-transform: uppercase;
            }
           
            .small-title {
                font-size: 6rem;
                color: #fd0;

                .rotating-text {
                    width: 16%;
                    height: $text-height;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    margin: 0.2ch 0.4ch;
                    transform-style: preserve-3d;
                    -webkit-animation: rotating 4s cubic-bezier(0,0,0,1) infinite;
                    animation: rotating 4s cubic-bezier(0,0,0,1) infinite;

                    .text-1 {
                        transform: translateY(0) translateZ($half-text-height) rotateX(0) !important;
                    }

                    .text-2 {
                        background: #e3a8ff !important;
                        color: #fff !important;
                        transform: translateY($half-text-height) translateZ(0) rotateX(-90deg) !important;
                    }

                    .text-3 {
                        background: #a4ffe8 !important;
                        color: #411aac !important;
                        transform: translateY(0) translateZ($negative-half-text-height) rotateX(-180deg) !important;
                    }

                    .text-4 {
                        background: #ffcbcf !important;
                        color: #000 !important;
                    }

                    .text-5 {
                        background: #fff !important;
                        color: #8459ff !important;
                    }

                    .text {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        background: #f5d607;
                        width: 100%;
                        height: 100%;
                        color: #588168;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateY($negative-half-text-height) translateZ(0) rotateX(90deg);
                    }
                    
                }
            }
        }
    }
    .purple-ball {
        position: absolute;
        right: -50px;
        bottom: -80px;
        z-index: 1;
    }

    .orange-ball {
        position: absolute;
        left: -120px;
        top: 180px;
        z-index: 1;
    }

    .chick1 {
        position: absolute;
        top: 100px;
        right: 385px;
        z-index: 1;
    }

    .chick2 {
        position: absolute;
        bottom: 0;
        left: 725px;
        z-index: 1;
    }

    .chick3 {
        position: absolute;
        top: 480px;
        left: 25px;
        z-index: 1;
    }

    @keyframes rotating {
        0% {
            transform: perspective(600px) rotateX(0deg);
        }
        25% {
            transform: perspective(600px) rotateX(90deg);
        }
        50% {
            transform: perspective(600px) rotateX(180deg);
        }
        75% {
            transform: perspective(600px) rotateX(270deg);
        }
        100% {
            transform: perspective(600px) rotateX(1turn);
        }
    }
}

.about-project-section-2 {
    padding: 118px 0;
    background-color: #f8fffc;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .outer-div {
        z-index: 2;
        position: relative;

        .content {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            text-align: left;

            .good-marquee {
                position: relative;
                overflow: hidden;
                padding: 20px 0px;
                
                .marquee-inner {
                    display: flex;
                    position: relative;
                    font-size: 3vw;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: 0 2vw;
                    color: #752a8b;
                    white-space: nowrap;
                }
                
            }
        }
    }

    .aqua-ball {
        position: absolute;
        left: -180px;
        top: 60px;
        z-index: 1;
    }

    .pink-ball {
        position: absolute;
        right: -40px;
        bottom: -170px;
        z-index: 1;
    }

    .chick4 {
        position: absolute;
        top: 400px;
        right: 50px;
        z-index: 1;
    }

    .chick5 {
        position: absolute;
        bottom: 0;
        left: 100px;
        z-index: 1;
    }
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

.ball-animation {
    -webkit-animation: floating-item 4s ease-in-out infinite;
    animation: floating-item 4s ease-in-out infinite;
}

.animation-1 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.animation-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-3 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

@keyframes floating-item {
    0%   {transform: translate(0);}
    65%  {transform: translateY(30px);}
    100% {transform: translate(0);}
}

.heading-text-bold-oxanium {
    font-weight: 700;
    font-size: 8rem;
    line-height: 80px;
    text-align: center;
}

.heading {
    margin-bottom: 48px;
}

.small-text-normal-poppins {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.white-color {
    color: #fff;
}

.yellow-color {
    color: #ffc807;
}

.black-color {
    color: black;
}

@media (max-width: 1600px) {
    .about-project-section-2 {
        padding: 120px 0 230px;
    }
    .about-project-section-2 .outer-div .content {
        padding: 0 80px;
    }
    .about-project-section-2 .aqua-ball {
        left: -230px;
    }
    .about-project-section-2 .chick4 {
        top: 90px;
        right: 66px;
    }
}

@media (max-width: 1500px) {
    .about-project-section .content .small-title {
        font-size: 3rem !important;
    }
}

@media (max-width: 1024.99px) {
    .about-project-section {
        padding: 120px 40px 230px;
    }
    .about-project-section .chick1 {
        top: 77px;
        right: 35px;
    }
    .about-project-section .chick2 {
        left: unset;
        right: 0;
    }
    .about-project-section .chick3 {
        top: unset;
        bottom: -10px;
    }
    .about-project-section .content h1 {
        font-size: 3rem !important;
    }
    .about-project-section .content .small-title {
        font-size: 3rem !important;
    }
    .about-project-section-2 .outer-div .content {
        padding: 0 40px !important;
    }
    .about-project-section-2 .outer-div .content .heading-text-bold-oxanium {
        font-size: 5rem;
    }
}

@media (max-width: 575.99px) {
    .about-project-section {
        padding: 60px 40px 80px !important;
    }
    .heading-text-bold-oxanium {
        font-size: 46px !important;
        line-height: 58px !important;
    }
    .small-text-normal-poppins {
        font-size: 20px !important;
        line-height: 30px !important;
    }
    .about-project-section .chick1 {
        top: 11px;
        right: 4px;
        max-width: 100px;
    }
    .about-project-section .chick2 {
        left: unset;
        right: 0;
        max-width: 100px;
        bottom: 388px;
    }
    .about-project-section .chick3 {
        top: unset;
        bottom: -10px;
        max-width: 100px;
    }
    .about-project-section .orange-ball {
        top: -80px;    
    }
    .about-project-section-2 {
        padding: 60px 0 100px !important;
    }
    .about-project-section-2 .chick4 {
        right: 10px;
        max-width: 100px;
    }
    .about-project-section-2 .chick5 {
        max-width: 100px;
        left: 27px;
    }
    .about-project-section .content h1 {
        font-size: 3rem !important;
    }
    .about-project-section .content .small-title {
        font-size: 1.5rem !important;
    }
}


@media (max-width: 360px) {
    .about-project-section .content .small-title {
        font-size: 1rem !important;
    }
}
