.main-section {
    width: 100%;
    height: 100vh;
    background-image: url(./../../assets/images/banner.jpg);
    background-size: cover;

    a {
        text-decoration: none;
    }

    .btn-area {
        width: 75%;
        background-image: url('./../../assets/images/box-red.png');
        color: #fff;
        text-transform: uppercase;
        aspect-ratio: 2.15;
        background-size: contain;
        min-width: 160px;
        font-size: .75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        transition: transform .5s cubic-bezier(0,0,0,1);

        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 75%;
            aspect-ratio: 3.6;
            overflow: hidden;
            span {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                transition: opacity .5s ease,transform .5s cubic-bezier(0,0,0,1);
                transform: translateY(-50%);
            }
        }
    }

    .dashboard {
        position: absolute;
        top: 30%;
        left: 30px;
        width: 18%;
            
        .btn-area {
            background-image: url('./../../assets/images/box-blue.png');
        }
    }
    .home {
        position: absolute;
        top: 50%;
        left: 200px;
        width: 18%;
        
        .btn-area {
            background-image: url('./../../assets/images/box-orange.png');
        }
    }
    .documentation {
        position: absolute;
        top: 80%;
        left: 400px;
        width: 18%;

        .btn-area {
            background-image: url('./../../assets/images/box-green.png');
        }
    }
    .roadmap {
        position: absolute;
        top: 80%;
        right: 400px;
        width: 18%;
        
        .btn-area {
            background-image: url('./../../assets/images/box-purple.png');
        }
    }
    .team {
        position: absolute;
        top: 50%;
        right: 200px;
        width: 18%;
        
        .btn-area {
            background-image: url('./../../assets/images/box-red.png');
        }
    }
    .contact {
        position: absolute;
        top: 30%;
        right: 30px;
        width: 18%;
        
        .btn-area {
            background-image: url('./../../assets/images/box-teal.png');
        }
    }
}

@media (max-width: 1200px) {
    .dashboard {
        left: 30px !important;
    }
    .home {
        left: 100px !important;
    }
    .documentation {
        left: 200px !important;
    }
    .roadmap {
        right: 200px !important;
    }
    .team {
        right: 100px !important;
    }
    .contact {
        right: 30px !important;
    }
}

@media (max-width: 768px) {
    .dashboard {
        left: 30px !important;
    }
    .home {
        left: 100px !important;
    }
    .documentation {
        left: 150px !important;
    }
    .roadmap {
        right: 150px !important;
    }
    .team {
        right: 100px !important;
    }
    .contact {
        right: 50px !important;
    }
}

@media (max-width: 596px) {
    .dashboard {
        left: 50px !important;
    }
    .home {
        left: 50px !important;
    }
    .documentation {
        left: 50px !important;
    }
    .roadmap {
        right: 150px !important;
    }
    .team {
        right: 150px !important;
    }
    .contact {
        right: 150px !important;
    }
}

@media (max-width: 468px) {
    .dashboard {
        left: 20px !important;
    }
    .home {
        left: 20px !important;
    }
    .documentation {
        left: 20px !important;
    }
    .roadmap {
        right: 130px !important;
    }
    .team {
        right: 130px !important;
    }
    .contact {
        right: 130px !important;
    }
}

@media (max-width: 370px) {
    .dashboard {
        left: 10px !important;
    }
    .home {
        left: 10px !important;
    }
    .documentation {
        left: 10px !important;
    }
    .roadmap {
        right: 110px !important;
    }
    .team {
        right: 110px !important;
    }
    .contact {
        right: 110px !important;
    }
}
