.join-our-community-section {
    background-color: #8459ff;
    padding: 120px 168px;
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    
    .outer-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1920px;
        margin: 0 auto;
        z-index: 2;
        position: relative;

        .left-div {
            max-width: 700px;
            width: 100%;

            .icons-div {
                margin-top: 40px;
                display: flex;
                align-items: center;
                gap: 40px;
            }
        }
    }

    .orange-ball {
        position: absolute;
        left: -190px;
        top: 60px;
        z-index: 1;
    }

    .purple-ball {
        position: absolute;
        right: 0;
        bottom: -250px;
        z-index: 1;
    }

    a {
        color: var(--bs-link-color);
        text-decoration: underline;
    }

    .heading-text-bold-oxanium {
        font-weight: 800;
        font-size: 7rem;
        line-height: 140px;
    }

    .small-text-normal-poppins {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }

    .white-color {
        color: #fff;
    }

    .yellow-color {
        color: #fd0;
        position: relative;
    }

    .hat {
        width: 105px;
        height: 74px;
        right: -45px;
        top: 138px;
        position: absolute;
    }

    .hat:before {
        content: "";
        background: url(./../../assets/images/butterfly.0a24fcb.gif) no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
        right: 2%;
        top: 2%;
        width: 25%;
        height: 50%;
        transform-origin: center center;
    }

    .hat:after {
        content: "";
        background: url(./../../assets/images/daisy.e3c3303.png) no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform-origin: center center;
        transform: rotate(20deg);
        transition: transform .3s cubic-bezier(.17,.67,.47,1.24);
    }
}

@media (max-width: 1600px) {
    .join-our-community-section {
        padding: 120px 80px;
    }
    .join-our-community-section .outer-div {
        gap: 60px;
    }
    .join-our-community-section .pink-ball {
        top: 35px;
        left: -211px;
    }
    .join-our-community-section .orange-ball {
        right: 135px;
    }
}

@media (max-width: 1024.99px) {
    .join-our-community-section {
        padding: 120px 40px;
    }
    .join-our-community-section .outer-div {
        flex-direction: column;
        text-align: center;
    }
    .join-our-community-section .outer-div .left-div .icons-div {
        justify-content: center;
    }
    .join-our-community-section .orange-ball {
        right: -80px;
    }
    .join-our-community-section .outer-div .left-div .heading-text-bold-oxanium {
        font-size: 5rem !important;
    }
    .hat {
        top: 130px !important;
    }
}

@media (max-width: 768.99) {
    .join-our-community-section .outer-div .right-div img {
        width: 100%;
    }
}

@media (max-width: 575.99px) {
    .team-profile-section, .join-our-community-section {
        padding: 60px 40px;
    }
    .heading-text-bold-oxanium {
        font-size: 46px !important;
        line-height: 58px !important;
    }
    .small-text-normal-poppins {
        font-size: 20px !important;
        line-height: 30px !important;
    }
    .join-our-community-section .pink-ball {
        top: -144px;
        left: -218px;
    }
    .join-our-community-section .orange-ball {
        right: 20px;
        top: 560px;
    }
    .join-our-community-section .purple-ball {
        right: 100px;
        bottom: -334px;
    }
    .join-our-community-section .outer-div .left-div .heading-text-bold-oxanium {
        font-size: 3rem !important;
    }
    .join-our-community-section .hat {
        top: 46px !important;
        right: -32px !important;
        width: 73px;
    }
}