.kut-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 23px 20px 5%;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, .2), transparent);
    z-index: 3000;

    img {
        width: 66px;
        vertical-align: center;
    }

    .openNav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        cursor: pointer;
    }

    nav {
        background-color: #8459ff !important;
        max-width: 343px !important;
        
        ul {
            padding: 0;
            li {
                padding: 0 !important;
                list-style-type: none;
                
                a {
                    display: block;
                    text-decoration: none;
                    width: 100%;
                    padding: 22px;
                    color: white;
                }

                .metamaks {
                    background: url('./../../assets/images/logos_metamask-icon.svg');
                }

                a:hover {
                    color: black;
                }
            }
        }
    }
}

.kut-header.kut-header-white {
    transition: 1s;
    background-color: white;
    background-image: none;
    box-shadow: 0 2px 8px rgba(33, 37, 41, 6.078431);
}